html, body, #main-container, #row{
  height:100%;  
  overflow: hidden;
  }
.fullHeight {
  height: 100%;
}
.footerD{
  position:absolute;
  left:50%;
  bottom:0.5%;
  font-size:25px;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  
  }
.footerU{
  position:absolute;
  left:50%;
  top:0.5%;
  font-size:25px;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  
  }
@media screen and (min-width: 768px) {
    .footerD {
        display:none;
    }
    .footerU{
      display:none;
    }
}
.vCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.bg-green{
  background-color:#33CC00;
  color: white;
}
.bg-red{
  background-color:#D92600;
  color: white;
}
.tacoSize{
  width:100px;
  height:100px;
  cursor:pointer;
}
@media screen and (min-width: 1500px) {
  .tacoSize{
    width:200px;
    height:200px;
    cursor:pointer;
  }
}
@media screen and (min-width: 1080px) and (max-width:1499px) {
  .tacoSize{
    width:150px;
    height:150px;
    cursor:pointer;
  }
}
@media screen and (min-width: 768px) and (max-width:1079px) {
  .tacoSize{
    width:100px;
    height:100px;
    cursor:pointer;
  }
}
@media screen and (min-width: 540px) and (max-width: 767px) {
  .tacoSize{
    width:150px;
    height:150px;
    cursor:pointer;
  }
}
@media screen and (max-width: 539px) {
  .tacoSize{
    width:100px;
    height:100px;
    cursor:pointer;
  }
}
@media screen and (max-width: 350px) {
  .tacoSize{
    width:90px;
    height:90px;
    cursor:pointer;
  }
}
.tacoSize:hover{
  box-shadow: 5px 5px 5px 5px white;
}
.rotNov {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
}
.rotOch {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg); /* Standard syntax */
}
.rotSet {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg); /* Standard syntax */
}
.rot {
    -ms-transform: rotate(3600deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(3600deg); /* Standard syntax */
}
.imgTextOch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg); /* Standard syntax */
}
.imgTextNov {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
}
.imgTextSet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg); /* Standard syntax */
}
.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg); /* Standard syntax */
}
.menuTit{
  border: 2px solid #D92600;
  border-radius: 25px;
  clear:both;
}
.menuDiv{
  box-shadow: 0px 0px 10px white;
  }
.imgMenu{
  z-index: 1;
  width: 100px;
  height: 100px;
  position: relative;
  top: 50%;
}
#entrada{
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
}
.menText{
  display: inline;
}
.rotateY{
    -webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg);

}
.transitionY{
  -webkit-transition: -webkit-transform 2s; /* Safari */
  transition: transform 2s;
}
