<div id="menuBebidas">
	<div id="botones">
      <a href="#col1"  class="footerU text-center btn btn-link bg-red" >
        <span class="glyphicon glyphicon-triangle-top"></span>
      </a><br/>
      <div class="btn-group pull-right">
        <a class="btn btn-link bg-red"><h3><span class="glyphicon glyphicon-shopping-cart"></span></h3></a>
        <a class="btn btn-link bg-red"><h3><span class="glyphicon glyphicon-menu-hamburger"></span></h3></a>      
      </div>
    </div>
	<div class="menuTit text-center"><h3>Refrescos</h3></div>
	<br/>
	<br/>
	<div id="entrada" class="panel bg-red row text-center">
		    <img src="http://www.recipe.com/images/chicken-fiesta-nachos-18300026rca-ss.jpg" class="img-circle imgMenu pull-left">
		    <div class="menText">
		    	<span class="label bg-green pull-right"><h6>$ 5.00</h6></span>
		    	<h3>Nachos Mexicanos</h3>
		    	<p>Nachos Mexicanos con guacamole, sour cream, chile con carne, totoposs</p>
		    </div>
	</div>
	</div>