<a href="#col1"  class="footerU text-center btn btn-link bg-red" >
	<span class="glyphicon glyphicon-triangle-top"></span>
</a><br/>
<div class="btn-group pull-right">
	<a id="logIn" class="btn btn-link bg-red"><h3><span class="glyphicon glyphicon-log-in"></span></h3></a>
	<a id="cart" class="btn btn-link bg-red"><h3><span class="glyphicon glyphicon-shopping-cart"></span></h3></a>
	<a class="btn btn-link bg-red"><h3><span class="glyphicon glyphicon-menu-hamburger"></span></h3></a>      
</div>
<div class="panel vCenter">
	<div class="panel-heading bg-green">
		<h2>Log In</h2>
	</div>
	<div class="panel-body" >
		<form role="form">
			<div class="form-group">
				<label for="tipoUser">Join as:</label>
                <select class="form-control" id="tipoUser" required>
                  <option>Cliente</option>
                  <option>Administrador</option>
                </select>
                <label for="userName">Username:</label>
                <input type="text" id="userName" class="form-control" placeholder="Enter your username here..." required>
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" placeholder="Enter your password here..." required><br/>
                <button type="submit" id="submit" class="btn btn-success pull-right">Login!</button>
			</div>
			<label id="mensaje"></label>
		</form>
	</div>
	<div class="panel-footer bg-green">
		<h5 class="pull-left"><b>Registrate</b> <a id="registro" data-toggle="modal" data-target="#formRegistro" style="cursor:pointer">Aquí</a></h5>
	</div>	
</div>
<!-- Modal -->
<div id="formRegistro" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-green">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <form role="form" action="">
			<div class="form-group" >
				<label for="userName">Username:</label>
				<input type="text" id="userName" class="form-control" placeholder="Enter your username here..." required>
				<label for="email">E-mail:</label>
				<input type="email" id="email" class="form-control" placeholder="Enter your E-mail here..." required>
				<label for="address">Dirección:</label>
				<input type="text" id="address" class="form-control" placeholder="Enter your address to delivery here..." required>
				<label for="password">Password:</label>
				<input type="password" id="password" class="form-control" placeholder="Enter your password here..." required>
				<label for="cPassword">Confirm your password:</label>
				<input type="password" id="cPassword" class="form-control" placeholder="Enter your password here again..." required><br/>
				<div class="modal-footer bg-red">
					<button type="submit" id="enjoy" class="btn btn-success pull-right" >Enjoy Us!</button>
					<br>
				<label id="userStatus"></label>
				</div>				
			</div>
		</form>
      </div>
    </div>

  </div>
</div>