<div class="row" style="margin-top:25%">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h2>Register</h2>
	</div>
	<div class="panel-body">
		<form role="form" action="">
			<div class="form-group" >
				<label for="userName">Username:</label>
				<input type="text" id="userName" class="form-control" placeholder="Enter your username here..." required>
				<label for="email">E-mail:</label>
				<input type="email" id="email" class="form-control" placeholder="Enter your E-mail here..." required>
				<label for="password">Password:</label>
				<input type="password" id="password" class="form-control" placeholder="Enter your password here..." required>
				<label for="cPassword">Confirm your password:</label>
				<input type="password" id="cPassword" class="form-control" placeholder="Enter your password here again..." required><br/>
				<div class="panel-footer">
					<button type="submit" id="enjoy" class="btn btn-success pull-right" data-toggle="modal">Enjoy Us!</button>
					<br>
					<br>
				</div>				
			</div>
		</form>
		<p class="text-danger"></p>
	</div>
</div>
</div>