<div id="row" class="row">
  <div id="col1" class="col-sm-6  bg-green fullHeight" >
    <div class="row text-center vCenter"  >
      <img src="https://openclipart.org/image/2400px/svg_to_png/188960/1385029480.png" class="img-circle" style="width:200px;height:200">
      <div class="page-header">
        <h2>Nacho's Restaurant</h2>
      </div>
      <h4><em>"El verdadero sabor mexicano"</em></h4>
      
    </div>
      <a href="#col2"  class="footerD text-center btn btn-link bg-green" >
        <span class="glyphicon glyphicon-triangle-bottom"></span>
      </a>
  </div>
  <div id="col2" class="col-sm-6 bg-red fullHeight">
    <a href="#col1"  class="footerU text-center btn btn-link bg-red" >
      <span class="glyphicon glyphicon-triangle-top"></span>
    </a><br/>
    <div class="btn-group pull-right">
      <a id="logIn" class="btn btn-link bg-red" data-toggle="modal" data-target="#myLogin"><h3><span class="glyphicon glyphicon-log-in"></span></h3></a>
      <a id="cart" class="btn btn-link bg-red"><h3><span class="glyphicon glyphicon-shopping-cart"></span></h3></a>
      <a class="btn btn-link bg-red"><h3><span class="glyphicon glyphicon-menu-hamburger"></span></h3></a>      
    </div>
    <div class="row text-center vCenter">
      <h3>!Atáscate Mi cuate¡<br/>ponele picante,<br/>invitame un Tequila<br/> ¡Que la noche esta linda!</h3><br/>
      <button id="orderHere" type="button" class="btn btn-success bg-green btn-lg">Order Here!</button>
    </div>
    
  
  </div>
</div>

<!-- Modal -->
<div id="myLogin" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-green">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">LogIn</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="tipoUser">Join as:</label>
          <select class="form-control" id="tipoUser">
            <option>Administrador</option>
            <option>Cliente</option>
          </select>
          <label for="userName">Username:</label>
          <input type="text" id="userName" class="form-control" placeholder="Enter your username here..." required>
          <label for="password">Password:</label>
          <input type="password" id="password" class="form-control" placeholder="Enter your password here..." required><br/>
        </div>
      </div>
      <div class="modal-footer bg-red">
        <button type="button" id="submit" class="btn btn-success pull-right">Login!</button>
          <h5 class="inline"><b>Registrate</b> <a id="registro" style="cursor:pointer">Aquí</a></h5>
      </div>
    </div>

  </div>
</div>
