<div id="row" class="row">
  <div id="col1" class="col-sm-6  bg-green fullHeight" >
      <div>
        <h3 class="pull-left">Nacho's Restaurant</h3><br/><h5 class="pull-left">&nbsp;&nbsp;&nbsp;<em>"El verdadero sabor mexicano"</em></h5>
      </div>
    
    <div class="row text-center vCenter"  >
      <div class="rotOch pull-left">
      <img src="http://www.clipartkid.com/images/476/tortilla-chips-clip-art-http-the3amteacher-blogspot-com-2012-05-SHHN5N-clipart.png" class="img-rounded tacoSize" ><div class="imgTextOch"><h4>Entradas</h4></div></div>
      <div class="rotSet pull-left">
      <img src="http://www.clipartkid.com/images/476/tortilla-chips-clip-art-http-the3amteacher-blogspot-com-2012-05-SHHN5N-clipart.png" class="img-rounded tacoSize"><div class="imgTextNov"><h4>Principal</h4></div></div>
      <div class="rotNov pull-left">
      <img src="http://www.clipartkid.com/images/476/tortilla-chips-clip-art-http-the3amteacher-blogspot-com-2012-05-SHHN5N-clipart.png" class="img-rounded tacoSize" ><div class="imgTextSet"><h4>Bebidas</h4></div></div>
      <div class="rot pull-left">
      <img src="http://www.clipartkid.com/images/476/tortilla-chips-clip-art-http-the3amteacher-blogspot-com-2012-05-SHHN5N-clipart.png" class="img-rounded tacoSize"><div class="imgText"><h4>Postres</h4></div></div>
      
    </div>
  </div>
  <div class="col-sm-6 bg-red fullHeight">
    <a href="#col1"  class="footerU text-center btn btn-link bg-red" >
      <span class="glyphicon glyphicon-triangle-top"></span>
    </a><br/>
    <div class="btn-group pull-right">
      <a class="btn btn-link bg-red"><h3><span class="glyphicon glyphicon-shopping-cart"></span></h3></a>
      <a class="btn btn-link bg-red"><h3><span class="glyphicon glyphicon-menu-hamburger"></span></h3></a>      
    </div>
    <div class="menuDiv"></div>
    <div id="col2" class="row text-center vCenter">
      
      <img src="https://openclipart.org/image/2400px/svg_to_png/188960/1385029480.png" class="img-circle" style="width:200px;height:200">
      <div class="page-header">
        <h2>Nacho's Restaurant</h2>
      </div>
      <h4><em>"El verdadero sabor mexicano"</em></h4>    
    </div>  
  </div>
</div>
